{% extends 'base0.html' %}
{% load static %}
<div class="container">
    {% block title %}
       We are doing 
    {% endblock %}
{% block content %}
<ul class="navbar-nav navbar-center">

</ul>
<div class="overlay"></div>
<video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
  <source src="{% static 'mp4/bg.mp4' %}" type="video/mp4"></video>

<div class="masthead">
  <div class="masthead-bg"></div>
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-12 my-auto">
        <div class="masthead-content text-white py-5 py-md-0">

          <h1 class="mb-3">Coming Soon!</h1>
               
          <p class="mb-5">We're working hard to finish the development of this site. Our target launch date is
            <strong>January 2019</strong>! Sign up for updates using the form below!</p>
            <div class="row">
                <div class="col-lg-12 text-center">
                    {% if user.is_authenticated %}
                    Hi {{ user.username }}!
                    <button class='btn btn-secondary btn-default' onclick="location.href='{% url 'logout' %}'" >Logout</button>

                    {% else %}
                    <button class='btn btn-secondary btn-default' onclick="location.href='{% url 'login' %}'" >LOGIN</button>
                    <button class='btn btn-secondary btn-default' onclick="location.href='{% url 'create_user' %}'" >SIGN UP </button>
                 <hr>
                  </div>
            </div>
 
            {% endif %}              
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
{% block scripts %}
{% endblock %}